*{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
h2 {
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  height: auto;
  background-color: rgb(243, 241, 241);
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.content {
  display: flex;
  padding-bottom: 20px;
  /* background-color: red; */
  align-items: center;

}

label {
  width: 120px;
  color: black;
  font-weight: bold;

}

input {
  width: 350px;
  height: 30px;
}

.btn {
  display: flex;
  justify-content: end;
}

button {
  background-color: green;
  padding: 12px 24px;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(1, 119, 1);
}

.student-list {
  /* width: 400px; */
  display: grid;
  grid-template-columns: 60px 100px 90px 100px 90px;
  align-items: center;
  margin-top: 40px;
  padding-left: 20px;
  /* background-color: red; */
  font-size: small;
}


.button-delete {
  background-color: red;

}

.button-delete:hover {
  background-color: rgb(236, 4, 4);
}
.x{
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}
.x:hover{
  color: red;
  cursor: pointer;
}
.note {
  color:white;
  /* width: 400px; */
  width: 100%;
  height: 100vh;
  background-color: rgba(24, 23, 23, 0.925);
  padding: 20px;
  border-radius: 8px;
  /* margin-top: 40px; */
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
span {
  font-weight: bold;
  color: red;
  font-size: 24px;
}
